/* * * * * * * * * * * * * *
	COLORS
* * * * * * * * * * * * * */

$backgroundColor: #CFE8EF;
$textColor: #666;
$linkColor: #D56062;
$linkColorHover: #C1292E;
$featuredColor: #235789;
$contentBg: #FFF;
$inputBg: #CFE8EF;