.k-password {
	width: 100%;

	&__fields {
		padding: 24px;

		&--generate {
			background: $contentBg;
		}

		&--result {
			background: $featuredColor;
			color: #FFF;
			@include border-radius(0 0 8px 8px);
		}
	}

	label {
		display: block;
		margin-bottom: 12px;
	}

	&__lenght,
	&__special {
		display: inline-block;
		height: 48px;
		margin: 0 8px 0 0;
		text-align: center;
		vertical-align: middle;
		width: 48px;
	}

	&__lenght {
		-moz-appearance:textfield;

		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}

	&__special {
		cursor: pointer;
		padding: 0;
		-moz-appearance: none;
		-ms-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		@include border-radius(50%);

		&:checked {
			background-image: url("../img/check.svg");
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}

	&__special-text {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 70px);
	}
	
	&__button,
	&__result {
		font-size: 24px;
		height: 60px;
		line-height: 32px;
		width: 100%;
	}
	
	&__result {
		background: #FFF;
		color: $featuredColor;
	}
}